git+https://github.com/botswana-harvard/edc-base@develop#egg=edc-base
git+https://github.com/erikvw/django-crypto-fields@develop#egg=django-crypto-fields
git+https://github.com/erikvw/django-revision@develop#egg=django_revision
git+https://github.com/botswana-harvard/edc-constants@develop#egg=edc-constants
git+https://github.com/botswana-harvard/edc-map@develop#edc-map
git+https://github.com/botswana-harvard/edc-identifier@develop#edc-identifier
git+https://github.com/botswana-harvard/edc-device@develop#egg=edc-device
git+https://github.com/botswana-harvard/edc-protocol@develop#edc-protocol
git+https://github.com/botswana-harvard/edc-sync@develop#edc-sync
git+https://github.com/botswana-harvard/plot@develop#plot
git+https://github.com/botswana-harvard/plot-form-validators@develop#plot-form-validators
git+https://github.com/botswana-harvard/survey@develop#survey
git+https://github.com/botswana-harvard/edc-search@develop#edc-search
git+https://github.com/botswana-harvard/edc-model-wrapper@develop#edc-model-wrapper
git+https://github.com/botswana-harvard/household-dashboard@develop#household-dashboard
